<h5>Row Editing</h5>
<p-table [value]="flights" dataKey="flightNumber" editMode="row">
    <ng-template pTemplate="header">
        <tr>
            <th>Flight</th>
            <th>From</th>
            <th>To</th>
            <th style="width:10rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-flight let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="flight">
            <td>{{flight.flightNumber}}</td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="flight.origin" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{flight.origin}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="flight.destination">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{flight.destination}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="text-align:center">
                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(flight)" class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(flight)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(flight, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
</p-table>